@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #f3f3f3;
  overflow-x: hidden;
}
.fa-user:hover {
  color: #266041 !important;
}

.account {
  width: 100%;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #266041, #266041);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 40%;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 100%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 100%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}
*/ .wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #266041, #266041);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --lg-font: "Poppins", sans-serif;
  --sm-font: "Poppins", sans-serif;
  --brown: #266041;
  --darkbrown: black;
}
body {
  font-family: var(--sm-font);
  height: 1000px;
}

section {
  padding-top: 100px;
}
/* button */
.bg-blue {
  background-color: #266041 !important;
}

.bg-pink {
  background-color: #ffcb00 !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--brown);
  color: #fff;
  border-color: var(--brown);
}

.fa-shopping-cart:hover {
  color: #266041 !important;
}

button .btn.acc-btn:hover {
  color: #266041 !important;
}

/* text color */
.text-primary {
  color: var(--brown) !important;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: #266041 !important;
}
.nav-item {
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  color: #266041;
}

#clock {
  font-size: 13px;
  color: #fff;
  padding: 10px;
  margin: 5px;
  width: 110px;
  background-color: #266041;
  border-radius: 10px;
  top: 18px;
  left: 75%;
}

footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .icon:hover {
  color: #266041 !important;
}

#contact {
  padding-top: 130px;
  padding-bottom: 90px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

#contact h2 {
  color: #266041;
}

#contact h6 {
  margin-right: 180px;
  margin-left: 180px;
}

@media (max-width: 756px) {
  #contact {
    padding-top: 150px;
  }

  #contact h6 {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}
