@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --sm-font: "Poppins", sans-serif;
  --sm-font: "Poppins", sans-serif;
  --brown: #266041;
  --darkbrown: black;
}

html,
body{
  width:100%;
  overflow-x:hidden;
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
 
}

section {
  padding-top: 100px;
}
/* button */
.bg-blue {
  background-color: #266041 !important;
}

.bg-pink {
  background-color: #ffcb00 !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--brown);
  color: #fff;
  border-color: var(--brown);
}

.fa-shopping-cart:hover {
  color: #266041 !important;
}

button .btn.acc-btn:hover {
  color: #266041 !important;
}

/* text color */
.text-primary {
  color: var(--brown) !important;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--sm-font);
}
.nav-link:hover {
  color: #266041 !important;
}
.nav-item {
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  color: #266041;
}

#clock {
  font-size: 13px;
  color: #fff;
  padding: 10px;
  margin: 5px;
  width: 110px;
  background-color: #266041;
  ;
  border-radius: 10px;
  top: 18px;
  left:75%
  
}

/* header */

.kelas {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(/image/banner-img-3.jpg);
}

.kelas h1 {
  font-size: 100px;
  color: #259140;
}

.kelas p {
  font-size: 18px;
}

.kelas h6 {
  padding-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px;
}

.btn-baca {
  width: 390px;
  text-align: center;
  letter-spacing: 1px;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
  box-shadow: 0px 0px 5px, 0px 0px 10px #858585;
}

.btn-baca:hover {
  color: #266041;
  background-color: rgb (0, 0, 0);

  text-shadow: none;
  cursor: pointer;

  z-index: 2;
}

.btn-barang{
  align-items:center;
}

.btn-pasar:hover{
background-color:black;

}

#header {
  /* background: url(../image/banner-img-1.png) top/cover no-repeat black; */
}
.carousel-inner h1 {
  font-size: 60px;
  font-family: var(--sm-font);
}

.carousel-inner h2 {
  color: white;
}

.carousel-inner a {
  color: white;
}
.carousel-item .btn {
  color: #ffcb00;
}
.carousel-item .btn:hover {
}

/* collection */
#collection {
  padding-top: 40px;
}

.active-filter-btn {
  background-color: var(--) !important;
  color: #fff !important;
  border-color: var(--darkbrown) !important;
}

.active-filter-btn:hover {
  background-color: var(--) !important;
  color: !important;
  border-color: #266041 !important;
}
.filter-button-group .btn:hover {
  color: white !important;
  background-color: #266041;
}

.fa-user:hover {
  color: #266041 !important;
}


/* special */
.special-img span {
  top: 20px;
  right: 20px;
}
.special-list .btn {
  padding: 8px 20px !important;
}
.special-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.special-img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.fa-star {
  color: orange;
}

.macbook-image {
  margin-left: 35px;
  width: 214px;
}

.vivo-image,
.xiaomi-image {
  margin-top: 15px;
}

/* special */
.special-img span {
  top: 20px;
  right: 20px;
}
.special-list .btn {
  padding: 8px 20px !important;
}
.special-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.special-img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* offers */
#offers {
  background: url(../image/banner-img-2.jpg) center/cover no-repeat;
}
#offers .row {
  min-height: 60vh;
}
.offers-content span {
  font-size: 28px;
}
.offers-content h2 {
  font-size: 60px;
  font-family: var(--sm-font);
}
.offers-content .btn {
  border-color: transparent !important;
}

.offers-content .btn:hover {
  border-color: white !important;
  border-width: 1.8px;
}

.text-offer {
  text-decoration: none;
}

/* testi */
.testimonial-wrapp,
.testimonial-wrapp .testimonial-text,
.testimonial-wrapp .testimonial-photo,
.testimonial-wrapp .quoted,
.testimonial-quote {
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.testimonial-wrapp,
.testimonial-wrapp .testimonial-text {
  text-align: center;
}
.testimonial-wrapp .quoted,
.testimonial-wrapp .testimonial-photo {
  display: inline-block;
}
.testimonial-wrapp .quoted {
  background: #266041;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  z-index: 1;
}
.testimonial-wrapp .testimonial-text {
  background: white;
  padding: 4.25rem 2.5rem;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}
.testimonial-wrapp .testimonial-photo {
  height: 100px;
  width: 100px;
  margin-top: -50px;
}
.testimonial-wrapp .testimonial-photo,
.testimonial-wrapp .testimonial-photo > img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#testimonial-slider .owl-item:nth-child(2n) .testimonial-wrapp .quoted,
#testimonial-slider .owl-item:nth-child(2n) .testimonial-wrapp:hover .testimonial-text {
  background: #266041;
}

/*Testimonial Quotes*/
.testimonial-bg {
  background: url(../images/bg-testimonial.jpg) no-repeat;
}
.testimonial-bg-light {
  background: url(../images/bg-testimonial-light.jpg) no-repeat;
}
.testimonial-bg,
.testimonial-bg-light {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

.testimonial-quote {
  text-align: left;
  padding-top: 10px;
}
.no-quote .testimonial-quote {
  text-align: center;
}
.testimonial-quote h3 {
  position: relative;
}
.no-quote .testimonial-quote h3::before,
.no-quote .testimonial-quote h3::after {
  display: none;
}
.testimonial-quote h3::before,
.testimonial-quote h3::after {
  display: inline-block;
  font-size: 17px;
}
.testimonial-quote h3::before {
  content: "\f10d";
  margin-right: 3px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.testimonial-quote h3::after {
  content: "\f10e";
  margin-left: 3px;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.testimonial-quote h6 {
  font-weight: 300;
}

#owl-thumbs.owl-dots {
  text-align: left;
}
#owl-thumbs.owl-dots .owl-dot {
  background: transparent;
  color: black;
  height: 60px;
  margin: 0;
  position: relative;
  width: 60px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  margin-left: -30px;
  opacity: 0.65;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.testimonial-bg-light #owl-thumbs.owl-dots .owl-dot {
  border: 5px solid rgba(0, 0, 0, 0.3);
}
#owl-thumbs.owl-dots .owl-dot > img {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#owl-thumbs.owl-dots .owl-dot:first-child {
  margin-left: 0;
}
#owl-thumbs.owl-dots .owl-dot::after {
  display: none;
}
#owl-thumbs.owl-dots .owl-dot:hover,
#owl-thumbs.owl-dots .owl-dot.active {
  z-index: 5;
  opacity: 1;
  border: 5px solid rgba(255, 255, 255, 0.53);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.testimonial-bg-light #owl-thumbs.owl-dots .owl-dot.active {
  border: 5px solid rgba(0, 0, 0, 0.53);
}

.owl-dots {
  text-align: center;
  margin-top: 3%;
}

.owl-dot {
  display: inline-block;
  height: 15px;
  width: 5px;
  background-color: black;
  opacity: 0.8;
  margin: 0 10px;
  border-radius: 50%;
}

.owl-dot.active {
  background-color: white;
}

/* about us */
#about {
  padding-top: 150px;
  background-color: rgba(179, 179, 179, 0.05);
}

.title h2::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--brown);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* newsletter */
#newsletter {
  background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p {
  max-width: 600px;
}
#newsletter .input-group {
  max-width: 500px;
}
#newsletter .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.collection-list {
  justify-content: space-center;
    display: flex;
    flex-wrap: wrap;
  align-items:center;
}

.penanda{
margin-left:120px;
}

/* footer */
footer .brand {
  font-family: var(--sm-font);
  letter-spacing: 2px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .icon:hover {
  color: #266041 !important;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 80px;
}

/* media queries */
/* @media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }

} */

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
  #clock{
    left:75%;
  }

}

@media (max-width: 1155px) {
  .macbook-image {
    margin-left: 51px;
    margin-top: 25px;
  }
    #clock{
    left:73%;
  }
}

@media (max-width: 991px) {
  .macbook-image {
    margin-left: 70px;
    margin-top: 51px;
  }
  #clock{
    left:60%;
  }



  .vivo-image,
  .xiaomi-image {
    margin-top: 50px;
  }
}

@media (max-width: 917px) {
  .macbook-image {
    margin-left: 70px;
    margin-top: 50px;
  }
  .xiaomi-image,
  .vivo-image {
  }
}

@media (max-width: 766px) {
  .macbook-image {
    margin-left: 93px;
    margin-top: 20px;
    padding-bottom: 00px;
    width: 350px;
  }
  .rating i {
    margin-right: 10px;
  }

  .rating p {
    margin-right: 30px;
  }

  .rating a {
    margin-right: 10px;
  }
  #clock{
width:55px;
padding:6px;
    left:58%;
    font-size:11px;

  }


}

@media (max-width:682px){
  #clock{
    width:55px;
    padding:6px;
        left:60%;
        font-size:11px;
    
      }
}


@media (max-width: 722px) {
  .macbook-image {
    margin-left: 80px;
    width: 360px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .offers-content a {
    color: white;
    margin-right: 100px;
  }
  .btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 5px 14px;
    border-radius: 25px;
    width: 220px;
    border: 1px solid rgb(85, 85, 85);
    font-size:12px;

  }

  .kelas .container {
    padding-top:70px;
  }
  .kelas {
    height:100vh;
  }

  .kelas h6{
    padding-bottom:30px;
    padding-top:5px;
  }

  .owl-dots {
    padding-right: 60px;
    padding-left: 60px;
  }

  #clock {
    display:none;
  }
}

@media (max-width: 485px) {
  .macbook-image {
    margin-left: 75px;
    width: 330px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }
}

@media (max-width: 463px) {
  #header h1 {
    font-size: 45px;
  }
}

@media (max-width: 452px) {
.penanda {
  margin-left:60%;
}
}

@media (max-width: 390px) {
  .macbook-image {
    margin-left: 35px;
    width: 300px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }

  .vivo-image {
    margin-top: 90px;
  }

  .penanda {
    margin-left:55%;
  }
}

@media (max-width: 345px) {
  .macbook-image {
    margin-left: 25px;
    width: 270px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }

  .owl-dots {
    size: 10px;
  }
  .penanda {
    margin-left:50%;
  }
}



@media (max-width: 991.98px){
  .member .content {
      padding-top: 15px;
  }
  }
  @media (max-width: 991.98px) {
    .member .text-abi {
      padding-right:0px;
     }
    .member .image-etik:padding-top: 50px;
  
    .member .content {
      padding-top:40px;
      background-color:black;
    }
  
    @media (min-width: 768px){
    .member .content {
        padding-top: 40px;
    }
  }
  }
  @media (min-width: 991.98px) {
   .member .image-abi {
    padding-left:0px;
    
   }
   .member .content {
    padding-top:40px;
  
  }
  
   .member .text-abi {
    padding-right:0px;
   }
  }
  
  @media (min-width: 768px) {
    .member .text-abi {
      padding-right:0px;
     }
    .member .image-etik:padding-top: 50px;
  
    .member .col-md-6 {
      padding-top:40px;
    }
  
    .member .col-md-5 {
      padding-left:50px;
    }
   
  }
  @media (max-width: 482px) {
  
    .member .content {
      padding-top:20px;
    }
    .member .text-abi {
      padding-right:0px;
     }
    .member .img-abi {
      padding-left:13px;
     }
  
    .member {
      padding-bottom:1px;
    }
    .member h2{
      font-size:35px;
    }
    .member h1 {
      font-size:30px;
    }
    .member h6{
      font-size:16px;
    }
  
    .member p {
      font-size:12px;
    }
  }

  @media (max-width: 1280px) {
    .logo-header .logo-span {
      font-size:40px;
      left:20px;
    }
    
    .logo-second .logo-span {
      font-size:35px;
      left:25px;
      top:-15px;
    }
  }
  
  @media (max-width: 834px) {
    .logo-header .logo-span {
      font-size:40px;
    }
    
    .logo-second .logo-span {
      font-size:35px;
      left:10px;
      top:-40px;
    }
  }
  
  @media (max-width: 589px) {
    .logo-header .logo-span {
      font-size:35px;
    }
    
    .logo-second .logo-span {
      font-size:25px;
      top:-7x;
    }
  }
  
  @media (max-width: 494px) {
    .logo-header .logo-span {
      font-size:30px;
    }
    
    .logo-second .logo-span {
      font-size:21px;
      left:10px;
      top:-20px;
    }
  }
  
  @media (max-width: 419px) {
    .logo-header .logo-span {
      font-size:30px;
    }
    
    .logo-second .logo-span {
      font-size:20px;
      left:10px;
    }
  }
  
  @media (max-width: 410px) {
    .logo-header .logo-span {
      font-size:28px;
      left:12px;
    }
    
    .logo-second .logo-span {
      font-size:18px;
      left:10px;
      top:-35px;
    }
  }
  
  @media (max-width: 320px) {
    .logo-header .logo-span {
      font-size:28px;
      left:12px;
    }
    
    .logo-second .logo-span {
      font-size:15px;
      left:10px;
      top:-15px;
    }
  }

  /* @media (max-width: 991.98px) {
    #clock {
      left: 45%;
    }
    .shopping {
      left:90%;
    }
  }
  @media (min-width: 991.98px) {
    #clock {
      left: 45%;
    }
  }
  
  @media (max-width: 482px) {
    #clock {
      left: 45%;
  
    }
  }
  
  @media (max-width: 380px) {
    #clock {
      left: 79%;
      width: 100px;
      font-size:10px;
    }
  }
  
  @media (max-width: 320px) {
    #clock {
      left: 54%;
      width: 60px;
      font-size:8px;
    }
  } */

  @media (max-width:626px){
    .collection-list{
      width:100%;
    }
  }