@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

.bg-blue {
  background-color: #002dfe !important;
}

.bg-pink {
  background-color: #ffcb00 !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--brown);
  color: #fff;
  border-color: var(--brown);
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--darkbrown) !important;
}
.nav-item {
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  color: #002dfe;
}

.cart {
  height: 680px;
}

.container {
  max-width: 500px;

  margin: 0 auto;
}

.container > h1 {
  padding: 20px 0;
}

.cart {
  display: flex;
}
.cart h5 {
  color: #ffcb00;
}

.cart h4 {
  color: #002dfe;
}

.products {
  flex: 0.75;
  padding-top: 50px;
}

.product {
  display: flex;

  width: 100%;

  height: 230px;

  overflow: hidden;

  border: 1px solid silver;

  margin-bottom: 40px;
  border-radius: 5px;
}

.product:hover {
  border: none;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  transform: scale(1.01);
}

.product > img {
  width: 300px;

  height: 200px;

  object-fit: cover;
}

.product > img:hover {
  transform: scale(1.04);
}

.product-info {
  padding: 20px;

  width: 100%;

  position: relative;
}

.product-name,
.product-price,
.product-offer {
  margin-bottom: 20px;
}

.product-remove {
  position: absolute;

  bottom: 20px;

  right: 20px;

  padding: 10px 25px;

  background-color: #cd2c35;

  color: white;

  cursor: pointer;

  border-radius: 5px;
}

.product-remove:hover {
  background-color: white;

  color: #cd2c35;

  font-weight: 600;

  border: 1px solid #cd2c35;
}

.product-quantity > input {
  width: 40px;

  padding: 5px;

  text-align: center;
}

.fa {
  margin-right: 5px;
}

.cart-total {
  flex: 0.25;

  margin-left: 20px;

  padding: 20px;

  height: 300px;

  border: 1px solid silver;

  border-radius: 5px;

  margin-top: 50px;
}

.cart-total p {
  display: flex;

  justify-content: space-between;

  margin-bottom: 30px;

  font-size: 20px;
}

.cart-total a {
  display: block;

  text-align: center;

  height: 40px;

  line-height: 40px;

  background-color: #0ca209;

  color: white;

  text-decoration: none;
  border-radius: 5px;
}

.cart-total a:hover {
  background-color: white;

  color: #3cd039;

  font-weight: 600;

  border: 1px solid #3cd039;
}

/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #ffcb00 !important;
}
footer .icon:hover {
  color: #002dfe !important;
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 990px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 800px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 800px;
  }
}

@media screen and (max-width: 950px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 740px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 740px;
  }
}

@media screen and (max-width: 815px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 700px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 700px;
  }
}

@media screen and (max-width: 765px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 600px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 600px;
  }
}

@media screen and (max-width: 720px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 550px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 550px;
  }
}

@media screen and (max-width: 700px) {
  .product-name,
  .product-price,
  .product-offer {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 620px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 500px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 500px;
  }
}

@media screen and (max-width: 555px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 480px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 480px;
  }

  .remove {
    display: none;
  }

  .product-remove {
    position: absolute;
    right: 20px;
    padding: 10px 25px;
    background-color: #cd2c35;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 180px;
    bottom: -10px;
  }
}

@media screen and (max-width: 535px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 460px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 460px;
  }

  .remove {
    margin-top: 40px;
  }
}

@media screen and (max-width: 510px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 440px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 440px;
  }

  .remove {
    margin-top: 40px;
  }

  .product-remove {
    position: absolute;
    bottom: -10px;
    right: 0px;
    padding: 10px 25px;
    background-color: #cd2c35;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 180px;
  }
}

@media screen and (max-width: 490px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 420px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 420px;
  }

  .remove {
    margin-top: 40px;
  }
}

@media screen and (max-width: 465px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
  }

  .product {
    width: 400px;
    padding-right: 20px;
  }
  .cart-total {
    margin-left: 0;
    width: 400px;
  }

  .remove {
    margin-top: 40px;
  }
}

@media screen and (max-width: 465px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1100px;
    height: 1000px;
  }

  .product {
    width: 380px;
    padding-right: 20px;
  }

  .product-2 {
    height: 270px;
  }

  .product-2-remove {
    top: 220px;
  }
  .cart-total {
    margin-left: 0;
    width: 380px;
  }

  .remove {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .cart {
    padding-top: 25px;
  }
}

@media screen and (max-width: 427px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1200px;
  }

  .product {
    width: 360px;
    padding-right: 20px;
    height: 315px;
  }
  .cart-total {
    margin-left: 0;
    width: 360px;
  }

  .remove {
    margin-top: 40px;
  }

  .product-remove {
    position: absolute;
    bottom: -10px;
    right: -10px;
    padding: 10px 25px;
    background-color: #cd2c35;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 265px;
    height: 40px;
    width: 65px;
  }
}

@media screen and (max-width: 408px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1200px;
  }

  .product {
    width: 340px;
    padding-right: 20px;
    height: 310px;
  }
  .cart-total {
    margin-left: 0;
    width: 340px;
  }

  .remove {
    margin-top: 40px;
  }

  .product-remove {
    position: absolute;
    bottom: -10px;
    right: -10px;
    padding: 10px 25px;
    background-color: #cd2c35;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 265px;
    height: 40px;
    width: 65px;
  }
}

@media screen and (max-width: 382px) {
  .cart {
    flex-direction: column;
    padding-bottom: 1200px;
  }

  .product {
    width: 320px;
    padding-right: 20px;
    height: 300px;
  }
  .cart-total {
    margin-left: 0;
    width: 320px;
  }

  .remove {
    margin-top: 40px;
  }

  .product-remove {
    position: absolute;
    bottom: -10px;
    right: -10px;
    padding: 10px 25px;
    background-color: #cd2c35;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    top: 255px;
    height: 40px;
    width: 60px;
  }
}
