@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  line-height: 1.6;
  font-family:"Poppins", sans-serif;
  font-weight: 300;
  color: #333;
  background-color: #fff;
}

.page-content {
  padding: 0;
  /* margin-top: 20px; */
  margin: 0;
  /* width: 100%; */
  /* height: 100vh; */
}

.fa fa-shopping-cart{
  padding-left:100px;
}


.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  padding-right: 90px;
  padding-left: 0px;
  font: weight semibold;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: #266041 !important;
}
.nav-item {
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  color: #266041;
}

#clock {
  font-size: 13px;
  color: #fff;
  padding: 10px;
  margin: 5px;
  width: 110px;
  background-color: #266041;
  border-radius: 10px;
  top: 18px;
  left: 75%;
}

.header {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1em;
  background-color: #fff;
}
@media (min-width: 900px) {
  .container {
    padding: 0;
  }
}

ul {
  list-style: none;
  padding: 0 1em;
  margin-left: 0;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

button {
  transition: all 0.3s;
}

.page-content {
  height: 350vh;
  margin-top: px;
  background: white;
  margin-bottom: 250px;
}



.display-title {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1.3px;
}
@media (min-width: 600px) {
  .display-title {
    font-size: 3rem;
  }
}

.page-title {
  text-align: center;
  font-weight: 700;
}
@media (min-width: 600px) {
  .page-title {
    font-size: 2rem;
    font-weight: 300;
  }
}

.text-light {
  color: #efefef;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

.header .arrow {
  width: 50px;
  height: 50px;
  position: relative;
  margin: -200px auto 0;
  text-align: center;
  border-radius: 50%;
  background-color: #daed0e;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.header .arrow:hover,
.header .arrow:focus {
  -webkit-animation: point-down 1s alternate infinite;
  animation: point-down 1s alternate infinite;
}
.header .arrow svg {
  margin-top: 15px;
  fill: #333;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:110px;
  
}
.header .header__cart .header__submenu .shopping-cart-container {
  position: absolute;
  top: 120px;
  right: 9000;
  padding: 1em;
  background-color: #fff;
  z-index: 2;
  transform: scale(0);
  transform: translatey(-10px);
  opacity: 0;
  pointer-events: none;
  border-radius:5px;
  border: 1px solid #266041;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
    
}
.header .header__cart .header__submenu .shopping-cart-container.open {
  -webkit-animation: fade-down 0.3s forwards;
  animation: fade-down 0.3s forwards;
  pointer-events: auto;
    margin-top:60px;
    margin-left:815px;

}
.header .header__cart .header__submenu .cart {
  fill: #266041;
  display: absolute;
  float: left;
  margin-right: 2px;
  cursor: pointer;

}
.header .header__cart .header__cart-btn {
  background-color: transparent;
  border: 2px solid #266041;
  padding: 0.8em;
  font-size: 1rem;
  border-radius: 5px;
  margin-left:815px;
}
.header .header__cart .header__cart-btn:hover,
.header .header__cart .header__cart-btn:focus {
  border: 3px solid #266041;
}
.header .header__cart .header__submenu {
  font-size: 0.8rem;
  font-weight: 700;
  
}
.header .header__cart .header__submenu .shopping-cart-container {
  text-align: center;
  min-width: 300px;
}
.header .header__cart .header__submenu .shopping-cart-container table {
  width: 100%;
  padding: 0.5em;
  padding-bottom: 2em;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.5em;
}
.header .header__cart .header__submenu .shopping-cart-container table thead th {
  padding-bottom: 10px;
  border-bottom: 1px solid #266041;
}
.header .header__cart .header__submenu .shopping-cart-container table tbody {
  padding-bottom: 4em;
}
.header .header__cart .header__submenu .shopping-cart-container table tbody td {
  padding: 0.5em;
}
.header .header__cart .header__submenu .cart-image {
  max-width: 120px;
}
.header .header__cart .header__submenu .remove {
  text-align: center;
  width: 120px;
  height: 120px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #266041;
  color: white;
  transition: background-color 0.3s ease-out;
}
.header .header__cart .header__submenu .remove:hover,
.header .header__cart .header__submenu .remove:focus {
  background-color: #266041;
}
.header .header__cart .header__submenu .cart-btn {
  display: block;
  margin-bottom: 10px;
  padding: 0.3em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: #333;
  border: 1px solid #266041;
}
.header .header__cart .header__submenu .cart-btn:hover,
.header .header__cart .header__submenu .cart-btn:focus {
  background-color: #266041;

}
.header .header__submenu .total-container {
  text-align: center;
}
.header .header__submenu .total-container .total {
  font-weight: bold;
  font-size: 1.3em;
}
.header .header__title {
  font-family: "Rammetto One", cursive;
  font-size: 2rem;
  color: #ea332a;
}
.header .header__subtitle {
  font-size: 1.2rem;
  display: block;
  margin-top: -10px;
  line-height: 0.9;
  margin-left: 20px;
}
.header .header__main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(234, 51, 42, 0.7), rgba(170, 37, 30, 0.7)),
    url(https://images.unsplash.com/photo-1504670073073-6123e39e0754?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=5a5a75419e84813c91b906d3fc38a4b8);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.page-content {
  margin-top: 0px;
}
.page-title {
  margin: 15px 0 15px 0;
}
.card {
  line-height: 1;
  transition: all 0.1s;
}

.card__title,
.card__price {
  font-weight: bold;
}

.card__title {
  font-size: 1.1rem;
}

.card__btn {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #266041;
  border: 1px solid #266041;
  color: #fff;
}
.card__btn:hover,
.card__btn:focus,
.card__btn:active {
  transform: translatey(2px);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  background-color: #266041;
}
.card__btn:active {
  border: 3px solid #266041 inset;
}

.footer {
  margin-top: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-top: 1px dashed #b61a12;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.footer__link-item,
.footer__link-item {
  color: #ea332a;
}
.footer__link-item:hover,
.footer__link-item:focus,
.footer__link-item:hover,
.footer__link-item:focus {
  color: #9e1610;
}

@-webkit-keyframes point-down {
  100% {
    transform: translatey(20px);
  }
}

@keyframes point-down {
  100% {
    transform: translatey(20px);
  }
}
@-webkit-keyframes fade-down {
  80% {
    opacity: 1;
    visibility: visible;
    transform: translatey(20px);
    transform: scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
    animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes fade-down {
  80% {
    opacity: 1;
    visibility: visible;
    transform: translatey(20px);
    transform: scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
    animation-timing-function: cubic-bezier(0, 1, 0.75, 0);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --sm-font: "Poppins", sans-serif;
  --sm-font: "Poppins", sans-serif;
  --brown: #266041;
  --darkbrown: black;
}
body {
  font-family: var(--sm-font);
  height: 1000px;
}

section {
  padding-top: 100px;
}
/* button */
.bg-blue {
  background-color: #266041 !important;
}

.bg-pink {
  background-color: #ffcb00 !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--brown);
  color: #fff;
  border-color: var(--brown);
}

.fa-shopping-cart:hover {
  color: #266041 !important;
}

button .btn.acc-btn:hover {
  color: #266041 !important;
}

/* text color */
.text-primary {
  color: var(--brown) !important;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
  margin-right:90px;
}
.nav-link:hover {
  color: #266041 !important;
}
.nav-item {

}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  color: #266041;
}

#clock {
  font-size: 13px;
  color: #fff;
  padding: 10px;
  margin: 5px;
  width: 110px;
  background-color: #266041;
  ;
  border-radius: 10px;
  top: 18px;
  left:75%
  
}
/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .icon:hover {
  color: #266041 !important;
}

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}

@media (max-width: 1155px) {
  .macbook-image {
    margin-left: 51px;
    margin-top: 25px;
  }
}

@media (max-width: 980px) {
  .macbook-image {
    margin-left: 70px;
    margin-top: 51px;
  }

  .vivo-image,
  .xiaomi-image {
    margin-top: 50px;
  }
}

@media (max-width: 917px) {
  .macbook-image {
    margin-left: 70px;
    margin-top: 50px;
  }
  .xiaomi-image,
  .vivo-image {
  }
}

@media (max-width: 757px) {
  .macbook-image {
    margin-left: 93px;
    margin-top: 20px;
    padding-bottom: 00px;
    width: 350px;
  }
  .rating i {
    margin-right: 10px;
  }

  .rating p {
    margin-right: 30px;
  }

  .rating a {
    margin-right: 10px;
  }
}

@media (max-width: 722px) {
  .macbook-image {
    margin-left: 80px;
    width: 360px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .offers-content a {
    color: white;
    margin-right: 100px;
  }
  .btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    width: 130px;
    border: 1px solid rgb(85, 85, 85);
  }

  .owl-dots {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (max-width: 485px) {
  .macbook-image {
    margin-left: 75px;
    width: 330px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }
}

@media (max-width: 463px) {
  #header h1 {
    font-size: 45px;
  }
}

@media (max-width: 423px) {
  .macbook-image {
    margin-left: 55px;
    width: 300px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }
}

@media (max-width: 380px) {
  .macbook-image {
    margin-left: 35px;
    width: 300px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }

  .vivo-image {
    margin-top: 90px;
  }
}

@media (max-width: 340px) {
  .macbook-image {
    margin-left: 25px;
    width: 270px;
  }
  .xiaomi-image {
    padding-top: 40px;
  }

  .owl-dots {
    size: 10px;
  }
}



@media (max-width: 991.98px){
  .member .content {
      padding-top: 15px;
  }
  }
  @media (max-width: 991.98px) {
    .member .text-abi {
      padding-right:0px;
     }
    .member .image-etik:padding-top: 50px;
  
    .member .content {
      padding-top:40px;
      background-color:black;
    }
  
    @media (min-width: 768px){
    .member .content {
        padding-top: 40px;
    }
  }
  }
  @media (min-width: 991.98px) {
   .member .image-abi {
    padding-left:0px;
    
   }
   .member .content {
    padding-top:40px;
  
  }
  
   .member .text-abi {
    padding-right:0px;
   }
  }
  
  @media (min-width: 768px) {
    .member .text-abi {
      padding-right:0px;
     }
    .member .image-etik:padding-top: 50px;
  
    .member .col-md-6 {
      padding-top:40px;
    }
  
    .member .col-md-5 {
      padding-left:50px;
    }
   
  }
  @media (max-width: 482px) {
  
    .member .content {
      padding-top:20px;
    }
    .member .text-abi {
      padding-right:0px;
     }
    .member .img-abi {
      padding-left:13px;
     }
  
    .member {
      padding-bottom:1px;
    }
    .member h2{
      font-size:35px;
    }
    .member h1 {
      font-size:30px;
    }
    .member h6{
      font-size:16px;
    }
  
    .member p {
      font-size:12px;
    }
  }

  @media (max-width: 1280px) {
    .logo-header .logo-span {
      font-size:40px;
      left:20px;
    }
    
    .logo-second .logo-span {
      font-size:35px;
      left:25px;
      top:-15px;
    }
  }
  
  @media (max-width: 834px) {
    .logo-header .logo-span {
      font-size:40px;
    }
    
    .logo-second .logo-span {
      font-size:35px;
      left:10px;
      top:-40px;
    }
  }
  
  @media (max-width: 589px) {
    .logo-header .logo-span {
      font-size:35px;
    }
    
    .logo-second .logo-span {
      font-size:25px;
      top:-7x;
    }
  }
  
  @media (max-width: 494px) {
    .logo-header .logo-span {
      font-size:30px;
    }
    
    .logo-second .logo-span {
      font-size:21px;
      left:10px;
      top:-20px;
    }
  }
  
  @media (max-width: 419px) {
    .logo-header .logo-span {
      font-size:30px;
    }
    
    .logo-second .logo-span {
      font-size:20px;
      left:10px;
    }
  }
  
  @media (max-width: 410px) {
    .logo-header .logo-span {
      font-size:28px;
      left:12px;
    }
    
    .logo-second .logo-span {
      font-size:18px;
      left:10px;
      top:-35px;
    }
  }
  
  @media (max-width: 320px) {
    .logo-header .logo-span {
      font-size:28px;
      left:12px;
    }
    
    .logo-second .logo-span {
      font-size:15px;
      left:10px;
      top:-15px;
    }
  }

  /* @media (max-width: 991.98px) {
    #clock {
      left: 45%;
    }
    .shopping {
      left:90%;
    }
  }
  @media (min-width: 991.98px) {
    #clock {
      left: 45%;
    }
  }
  
  @media (max-width: 482px) {
    #clock {
      left: 45%;
  
    }
  }
  
  @media (max-width: 380px) {
    #clock {
      left: 79%;
      width: 100px;
      font-size:10px;
    }
  }
  
  @media (max-width: 320px) {
    #clock {
      left: 54%;
      width: 60px;
      font-size:8px;
    }

    

