* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdb8b8;
    width: 100%;
    height: 100vh;
    font-family: "Roboto";
    font-size: 18px;
    color: #000;
    margin-top: 100px;
    text-align: center;
}    

.drp_box {
    position: relative;
    margin: 0 auto;
    padding: 30px 50px;
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.drp_box.open {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.drp_box::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    transform: rotate(-45deg);
}

.drp_box ul {
    padding-left: 0;
}

.drp_box ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    transition: .5s;
    color: #000;
}

a:hover {
    color: #ff7171;
}

.drp_box ul li img {
    margin-right: 15px;
}